@import "variables";

@font-face {
  font-family: Avenir-light;
  src: url("../fonts/AvenirNextCyr-Light.ttf");
}

@font-face {
  font-family: Avenir-medium;
  src: url("../fonts/AvenirNextCyrMedium.ttf");
}

body {
  min-height: 100vh;
  margin: 0;
  font: 180% Avenir-light, sans-serif;
  color: $primary-text;
  line-height: 1.2;
  background-color: $bg-color;

}

.fx-sb {
  display: flex;
  justify-content: space-between;
}

.fx-col-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.section {
  padding: 9rem 0;
}

.btn-empty {
  display: block;
  border: 0.2rem solid $accent-color;
  background-color: transparent;
  padding: 1rem 1.8rem;
}

.btn-full {
  display: block;
  background-color: $accent-color;
  transition: background-color 0.5s;
  padding: 1.6rem 5rem;
  color: $secondary-text;
  border: none;
  max-width: 24rem;
  font-size: $font-s;
  font-family: Avenir-medium;

}

.btn-full:hover {
  background-color: #C29F46;
}

h2 {
  font-size: 5rem;
  font-family: 'Cormorant Infant', Arial, sans-serif;
  font-weight: 600;
  max-width: 60rem;
  text-align: center;
  margin-bottom: 3rem;

  span {
    font-size: 4rem;
    font-weight: 500;
  }
}

@media (max-width: $width-mob) {

  h2 {
    font-size: 3rem;
  }

  .container {
    width: 80%;
  }

  .section {
    padding: 4rem 0;
  }
}