@import "variables";

.header-nav-menu {
    gap: 3.5rem;
}

header {
    position: fixed;
    background-color: $bg-color;
    width: 100%;
    padding: 1.5rem 0;
    font-size: $font-s;
    z-index: 10;

    .header-container {
        align-items: center;

        .lang {
            padding: 0.4rem 2.3rem;
            background-color: $accent-color;
            font-size: 1.4rem;
        }
    }

    @include isMobile {
        .btn-empty {
            display: none;
        }

        .burg-menu {
            display: flex;
        }
    }
}

/* burger icon */
.burg-menu {
    display: none;
    gap: .5rem;
    width: 2rem;
    height: 2rem;

    span {
        display: block;
        width: 2.5rem;
        height: .2rem;
        background-color: $accent-color;
        transition: all 5s ease-in;
    }

    span:nth-child(1),
    span:nth-child(3) {
        transform-origin: left;
    }

    span:nth-child(2) {
        opacity: 1;
    }

}

/* responsive menu */
.header-nav {
    @include isMobile {
        position: absolute;
        transform: translateX(201%);
    }
}

/* active menu */
body.menu-active {
    .burg-menu {
        span:nth-child(1) {
            top: 50%;
            transform: translateY(50%) rotate(45deg);
        }

        span:nth-child(2) {
            opacity: 0;
        }

        span:nth-child(3) {
            bottom: 50%;
            transform: translateY(50%) rotate(-45deg);
        }
    }

    .header-nav {
        width: 100%;
        position: fixed;
        min-height: 100dvh;
        top: 0;
        left: 0;
        transform: translateX(0%);
        background-color: $bg-color;
    }

    .header-nav-menu {
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}