@import "variables";

.header-nav-menu {
    gap: 3.5rem;
}

header {
    padding: 1.5rem 0;
    font-size: $font-s;

    .header-container {
        align-items: center;

        .lang {
            padding: 0.4rem 2.3rem;
            background-color: $accent-color;
            font-size: 1.4rem;
        }
    }
}