@import "variables";

.header-nav-menu {
    gap: 4.5rem;
    align-items: center;
}

header {
    position: fixed;
    background-color: $bg-color;
    width: 100%;
    padding: 1.5rem 0;
    font-size: $font-s;
    z-index: 10;

    .logo {
        width: 17rem;
        // img {
        //     max-width: 14rem;
        // }
    }

    .header-container {
        align-items: center;
    }

    /* languages dropdown */
    .lang-btn {
        padding: 0.4rem 2.3rem;
        background-color: $accent-color;
        font-size: 1.4rem;

    }

    .lang {
        position: relative;
        padding: 1rem 0;
    }

    .language-dropdown {
        display: none;
        position: absolute;
        background-color: #fff;
        margin: 1.3rem 0 0;
        padding: 1rem;
        left: -3rem;

        .lang-option {
            padding: 1rem;
        }

        &::before {
            content: "";
            position: absolute;
            border: 2rem solid transparent;
            border-top: 0;
            border-bottom-color: #fff;
            top: -1rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .lang:hover {
        .language-dropdown {
            display: block;
        }
    }

    @include isMobile {
        padding: 2.3rem 0;

        .btn-empty {
            display: none;
        }

        .burg-menu {
            display: flex;
        }
    }
}

.header-shadow {
    box-shadow: 0 .6rem .4rem 0 rgba(0, 0, 0, 0.08);
    transition: box-shadow .3s ease-in-out;
}

/* burger icon */
.burg-menu {
    display: none;
    gap: .5rem;
    width: 2rem;
    height: 2rem;

    span {
        display: block;
        width: 2.5rem;
        height: .2rem;
        background-color: $accent-color;
        transition: all .5s ease-in-out;
    }

    span:nth-child(1),
    span:nth-child(3) {
        transform-origin: left;
    }

    span:nth-child(2) {
        opacity: 1;
    }

}

/* responsive menu */
.header-nav {
    @include isMobile {
        position: absolute;
        transform: translateX(201%);
    }
}

/* active menu */
body.menu-active {
    .burg-menu {
        span:nth-child(1) {
            top: 50%;
            transform: translateY(50%) rotate(45deg);
        }

        span:nth-child(2) {
            opacity: 0;
        }

        span:nth-child(3) {
            bottom: 50%;
            transform: translateY(50%) rotate(-45deg);
        }
    }

    .header-nav {
        width: 100%;
        position: fixed;
        min-height: 100dvh;
        top: 0;
        left: 0;
        transform: translateX(0%);
        background-color: $bg-color;
    }

    .header-nav-menu {
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}