@use "../../node_modules/@crossfox/css-start/dist/base.min.css";
@import "variables";
@import "base";
@import "header";

/* banner section */
.banner-section {

  h1 {
    font-size: 6rem;
    font-family: 'Cormorant Infant', Arial, sans-serif;
    font-weight: 600;
    max-width: 53.2rem;

    span {
      font-size: 4rem;
      font-weight: 500;
    }
  }

  p {
    max-width: 40rem;
  }

  .banner-imgs {
    width: 100%;

    img {
      width: 49%;
    }

  }


}

.banner-info {
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
  flex-direction: column;
  align-items: flex-start;

  p {
    margin: 0 0 4rem;
  }
}


/* cards section */

.cards-section {
  gap: 13rem;

  .cards-intro {
    align-items: center;
    text-align: center;
  }

  p {
    max-width: 50rem;
  }

  .bullets-cont {
    bottom: 1rem;

    .glide__bullet {
      background-color: #d0af5c60;
      height: 1.2rem;
      width: 1.2rem;
    }

    .glide__bullet--active {
      background-color: $accent-color;
      height: 1.2rem;
      width: 1.2rem;
    }
  }

}

.cards {


  p {
    font-size: 1.6rem;
  }

  .cards-item {
    background-color: white;
    align-items: center;
    gap: 3rem;
    width: 100%;

    img {
      width: 100%;
    }

    h3 {
      font-size: 3rem;
      font-family: 'Cormorant Infant', Arial, sans-serif;
      font-weight: 500;
      max-width: 28rem;
      text-align: center;
    }

    box-shadow: .15rem .15rem .9rem -.2rem rgba(0, 0, 0, 0.28);
  }

  .inner-cards-item {
    align-items: flex-start;
    gap: 3rem;
    padding: 0;
    max-width: 90%;
    padding-bottom: 4rem;

    .price {
      gap: 2rem;

      img {
        width: 3.6rem;
        height: 3.6rem;
      }

      p {
        padding-top: 1.2rem;
      }
    }

    .bonus {
      color: $accent-color;
      font-size: 2rem;
      font-family: Avenir-medium;
    }
  }


}



/* for whom section */
.forwhom-section {
  align-items: center;
  gap: 4rem;

  :nth-child(3) {
    flex-direction: row-reverse;

    .cake-icon {
      left: 0;
    }
  }
}

.div-item-icon {
  width: 4rem;
  height: 4rem;
}

.forwhom-div {
  gap: 2rem;
  width: 100%;
  border: .2rem solid $accent-color;
  padding: 2rem 8rem;
  margin-bottom: 3rem;
  position: relative;
}

.forwhom-rightside {
  align-items: center;
  max-width: 60rem;
  gap: 2rem;

  h4 {
    font-size: 3rem;
    font-family: 'Cormorant Infant', Arial, sans-serif;
    font-weight: 600;
    max-width: 24rem;
    text-align: center;
  }
}

.contacts-section {

  .conts {
    font-size: 4.8rem;
    font-family: 'Cormorant Infant', Arial, sans-serif;
    font-weight: 400;
  }

  .networks {
    gap: 2rem;
  }

  a {
    display: flex;
    align-items: center;
    font-family: Avenir-medium;

    svg {
      width: 5.5rem;
      padding-right: 2rem;
    }

  }

  .footer-btns {
    gap: 1.5rem;
    font-size: 1.4rem;
    font-family: Avenir-medium;
  }

  .right-part {
    max-width: 43rem;
    text-align: center;
    align-items: center;
    gap: 3rem;
    border: 0.2rem solid $accent-color;
    background-color: transparent;
    padding: 2.2rem 1.8rem;

    form {
      gap: 2rem;
      max-width: 30rem;
      text-align: start;

      input {
        display: block;
        border: 0.1rem solid $accent-color;
        background-color: white;
        padding: 1.3rem 5rem;
        font-size: 1.6rem;
        font-family: 'Cormorant Infant',
          Arial,
          sans-serif;
        color: rgba(0, 0, 0, 0.055);
      }

      button {
        display: block;
        background-color: $accent-color;
        transition: 0.5s;
        padding: 1.6rem 5rem;
        color: $secondary-text;
        border: none;
        font-size: $font-s;
        font-family: Avenir-medium;
      }

      button:hover {
        background-color: #C29F46;
      }

      p {
        font-size: 1.4rem;
      }
    }


  }


}

/* author */

.author {
  align-items: center;
  position: relative;

  .author-bg {
    position: absolute;
    background-color: $bg-color2;
    z-index: -1;
    height: 80%;
    width: 100%;
    top: 23%;
    left: 0;
  }

  h2 {
    max-width: 42rem;
    padding-bottom: 5rem;

    span {
      color: $accent-color;
    }

  }

  .author-content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 6rem;

    img {
      max-width: 44rem;
      width: 100%;
    }

    p {
      max-width: 54rem;
      font-size: 2.2rem;
      font-family: Avenir-medium;
    }
  }


}

/* reviews */

.reviews {
  gap: 10rem;
  align-items: center;
  position: relative;

  .reviews-bg {
    position: absolute;
    background-color: $bg-color2;
    z-index: -1;
    height: 80%;
    width: 100%;
    top: 0%;
    left: 0;
  }

  .photos {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .glide__bullet {
    background-color: #d0af5c60;
    height: 1.2rem;
    width: 1.2rem;
  }

  .glide__bullet--active {
    background-color: $accent-color;
    height: 1.2rem;
    width: 1.2rem;
  }

}

/* faq */

.faq-section {
  gap: 10rem;

  h2 {
    font-size: 4.2rem;
    max-width: 85rem;
    margin: 0 auto;
  }

  .faq-questions {
    gap: 6rem;
  }



  label {
    display: block;
  }

  h4 {
    position: relative;
    font-size: 2.4rem;
    font-family: 'Cormorant Infant',
      Arial,
      sans-serif;
    font-weight: 600;
    padding-bottom: 3rem;
  }

  .tab-content {
    font-size: 1.8rem;
  }

  h4::after {
    content: '+';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: $accent-color;
    font-size: 7rem;
    font-weight: lighter;

  }

  h4:hover::after {
    background-color: white;
    color: black;
    border-radius: 50%;
  }

  [type="radio"].hidden:not(:checked)~.tab-content {
    display: none;
  }

  [type="radio"].hidden:checked~h4::after {
    content: "x";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5rem;
  }
}



@media (min-width: $width-mob) {
  html {
    font-size: .521vw;
  }

  .cake-icon {
    width: 30rem;
    display: block;
    position: absolute;
    top: -4rem;
    right: 8rem;
    z-index: 1;
  }

  .author-content {
    display: grid;
  }

}

@media (max-width: $width-mob) {
  html {
    font-size: 2.326vw;
  }

  .banner-info {
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 3.2rem;

      span {
        font-size: 4.6rem;
        font-weight: 400;
      }
    }
  }

  .banner-section {
    flex-direction: column;
    gap: 5rem;
    text-align: center;

    p {
      margin: 0;
    }
  }

  .banner-imgs {
    justify-content: space-between;
    gap: 1rem;

    img {
      max-width: 17rem;
    }
  }

  .cards-section {


    span {
      font-size: 2.4rem;
    }

    .cards-item {
      .btn-full {
        width: 100%;
        text-align: center;
        max-width: 100%;
      }
    }

  }

  .forwhom-section {
    :nth-child(3) {
      flex-direction: column;

    }
  }

  .forwhom-div {
    flex-direction: column;
    gap: 5rem;
    padding: 2rem 2rem;

    .cake-icon {
      width: 20rem;
    }

    h4 {
      font-size: 2.4rem;
    }
  }

  .contacts-section {


    .container {
      gap: 4rem;
      flex-direction: column-reverse;
    }

    .left-part {
      gap: 3rem;
      align-items: center;
    }

    .footer-logo {
      display: none;
    }

    .footer-btns {
      flex-direction: column;
    }
  }

  .author {
    h2 {
      font-size: 3.6rem;

      span {
        font-size: 3rem;
      }
    }
  }

  .author-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

}